<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
</head>

<body>
  <%- include('../includes/app-header.ejs') %>
  <main>
    <% if (orders.length <= 0) { %>
    <div class="not-found-wrapper">
      <img src="/img/empty.png" alt="" style="width:500px; max-width:90%;">
      <h1 style="text-align:center"> No Order Placed yet</h1>
    </div>
    <% } else { %>
    <ul class="orders">
      <% orders.forEach(order => { %>
      <li class="orders__item">
        <h1>Order - # <%= order._id %></h1>
        <ul class="orders__products">
          <% order.products.forEach(p => { %>
          <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li>
          <% }); %>
        </ul>
      </li>
      <% }); %>
    </ul>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>